html {
    height:87%
} 
body{
    min-height:100%;
    margin-top: 120px;
    margin-left: 3%;
    margin-right: 3%;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: rgb(190, 190, 190);
    background-color: #080808;
    background-image: url(../img/pajaros.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}
